spring:
  datasource:
    url: jdbc:mysql://db:3306/notification_system_db
    username: docker
    password: docker1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false